<div role="tabpanel" class="tab-pane active text-center" id="home">
  <%= form_for :session, url: signin_path do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", required: true %>
    </div>      
    <%= f.submit t("signin"), class: "btn btn-primary btn-block" %>
  <% end %>
</div>
