<div class="modal fade" id="login_form" tabindex="-1" role="dialog" 
  aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4><span class="glyphicon glyphicon-lock"></span>
          <%= t "user_authen" %></h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div role="tabpanel" class="login-tab">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a id="signin-taba" 
                href="#home" 
                aria-controls="home" role="tab" data-toggle="tab">
                <%= t "signin" %></a>
              </li>
              <li role="presentation"><a id="signup-taba" href="#profile" 
                aria-controls="profile" role="tab" data-toggle="tab">
                <%= t "signup" %></a>
              </li>
              <li role="presentation"><a id="forgetpass-taba" 
                href="#forget_password" 
                aria-controls="forget_password" role="tab" data-toggle="tab">
                <%= t "forgot_password" %></a>
              </li>
            </ul>
            <div class="tab-content">
              <%= render "shared/sign_in" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
