<div class="container">
  <div class="col-sm-6">
    <div class="logo">
      <%= link_to image_tag("logo.jpg", alt: t("alt.logo"), 
        class: "img-responsive"), "#" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="shopping-item">
      <%= link_to image_tag("cart.png", alt: t("alt.cart"),
        class: "img-responsive"), "#" %>
      <span id="price_span" class="cart-amunt"></span> 
      <span id="quantity_span" class="product-count"></span>
    </div>
  </div>
</div>
<div class="mainmenu-area">
  <div class="container">
    <div class="row">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to t("home"), "#" %></li>
          <li><%= link_to t("help"), "#" %></li>
          <li><%= link_to t("about"), "#" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if is_logged_in? %>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to t("signout"), signout_path, method: :delete, 
              class: "glyphicon glyphicon-user" %>
            </li>
          <% else %>
            <li><%= link_to t("signin"), "#", class: "glyphicon glyphicon-user", 
              remote: true, data: {toggle: "modal", target: "#login_form"}%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render "shared/user_authenticate" %>
